
<html>
<head>
  <title>Create Lesson</title>
  <link rel="stylesheet" href="/public/css/style_lesson.css">
  
</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>
  
  <div class="card-container">
    <div class="child">
      <h2>Create Lesson</h2>
      <div class="card-input-lesson">
      <form id="createLessonForm" method="POST" action="/lessons">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
    
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br>
    
        <div class="time-hours">
          <label for="data">Date:</label>
          <input type="date" id="data" name="data" required><br>

          <label for="time">Time:</label>
          <input type="time" id="time" name="time" required><br>
        </div>

        <label for="personalId">Personal ID:</label>
        <input type="text" id="personalId" name="personalId" required><br>
    
        <button type="submit">Create Lesson</button>
      </form>
    </div>
    </div>
    <div class="child">
      <h2>Personal trainers</h2>
      <div class="card-personal">
      <div id="json-container"">
        <% data.forEach(item => { %>
          <div class="json-item" data-id="<%= item.id %>">
            <p><strong>ID:</strong> <%= item.id %></p>
            <p><strong>Nome:</strong> <%= item.name %></p>
            <p><strong>Idade:</strong> <%= item.age %></p>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

  <script src="/public/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Obtenha todos os elementos com a classe 'json-item'
      const personalItems = document.querySelectorAll('.json-item');
  
      // Adicione um ouvinte de eventos de clique a cada elemento
      personalItems.forEach(item => {
        item.addEventListener('click', function () {
          // Ao clicar em um personal, obtenha o ID do personal
          const personalId = item.dataset.id;
  
          // Preencha o campo de ID do personal com o ID obtido
          document.getElementById('personalId').value = personalId;
        });
      });
    });
  </script>
  
</body>
</html>
