<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="/public/css/style_edit_client.css">
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
      </header>
    <h1>Editar Cliente</h1>
    <div class="child">
        <div class="card">
            <form id="editClientForm" action="/client/edit/<%= client._id %>?_method=PUT" method="POST">
    
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" value="<%= client.name %>" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= client.email %>" required>
                
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" value="<%= client.cpf %>" required>
                
                <label for="age">Idade:</label>
                <input type="number" id="age" name="age" value="<%= client.age %>" required>
                
                <label for="sex">Sexo:</label>
                <select id="sex" name="sex" required>
                    <option value="Masculino" <%= client.sex === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                    <option value="Feminino" <%= client.sex === 'Feminino' ? 'selected' : '' %>>Feminino</option>
                    <option value="Outro" <%= client.sex === 'Outro' ? 'selected' : '' %>>Outro</option>
                </select>
                
                <div class="pagamento">
                    <label for="isPaidCheckbox">Pagamento Efetuado:</label>
                    <input type="checkbox" id="isPaidCheckbox" name="isPaid" value="true">
                </div>
                
                <div class="time-hours">
                    <label for="data">Date:</label>
                    <input type="date" id="data" name="data" required><br>
                </div>
                
                <button type="submit" value="Update">Atualizar Cliente</button>
            </form>
        </div>
    </div>
</body>
</html>