<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Personal</title>
    <link rel="stylesheet" href="/public/css/style_edit_personal.css">
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <h1>Editar Personal</h1>
    <div class="child">
        <div class="card">
            <form id="editPersonalForm" action="/personal/edit/<%= personal._id %>?_method=PUT" method="POST">
    
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" value="<%= personal.name %>" required>
                
                <div class="form-group">
                    <label for="age">Idade:</label>
                    <input type="number" id="age" name="age" value="<%= personal.age %>" required>
                </div>
            
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" value="<%= personal.username %>" required>
        
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>  
                </div>
        
                <button type="submit" value="Update">Atualizar Personal</button>
            </form>
        </div>
    </div>
</body>
</html>