<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Personal Trainer</title>
    <link rel="stylesheet" href="/public/css/style_personals.css">
</head>

<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    
    <h1>Personal Trainer</h1>
    <div class="card-container">
        <div class="child">
            <h2>Adicionar Novo Personal Trainer</h2>
            <div class="card">
            <form id="addPersonal" action="/personals" method="POST">
                
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" name="age" required>
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                </div>

                <button type="submit">Add Personal</button>
            </form>
        </div>
        </div>

        <div class="child">
            <h2>Atuais Personais</h2>
            <div class="equip-container">
                <div class="equip-list">
                    <% data.forEach(personal => { %>
                        <div class="equip-item equip-card">
                            <p><strong>Nome:</strong> <%= personal.name %></p>
                            <p><strong>Idade:</strong> <%= personal.age %></p>
                            <p><strong>Username:</strong> <%= personal.username %></p>
                            <div class="equip-actions action-buttons">
                                <button data-personal-id="<%= personal._id %>" class="button">Editar</button>
                                <button class="delete-button" data-personal-id="<%= personal._id %>" >Deletar</button>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
        
    
    <script>

        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(button => {
            button.addEventListener('click', async () => {
            const personalId = button.dataset.personalId;
            try {
                const response = await fetch(`/personal/delete/${personalId}`, {
                method: 'DELETE'
                });
                if (!response.ok) {
                const errorData = await response.json();
                throw new Error(errorData.error);
                }
                location.reload();
            } catch (error) {
                console.error('Error Deleting Personal:', error);
            }
            });
        });
        const editButtons = document.querySelectorAll('.button');
        editButtons.forEach(button => {
            button.addEventListener('click', () => {
                const personalId = button.dataset.personalId;
            window.location.href = `/personal/edit/${personalId}`;
        });
        });
    </script>
</body>

</html>



